.stApp{
    background: linear-gradient(
       120deg,
       #e9850b,
       #bbdf4e,
       #00ff00
    );
    /* background-image: url("https://th.bing.com/th/id/OIP.t6X47bp93975AnDQPCNUWwHaDX?w=280&h=180&c=7&r=0&o=7&cb=ucfimg2&dpr=1.3&pid=1.7&rm=3&ucfimg=1");
    background-size: cover; */
    color: #000000;
    min-height: 100vh;
    font-family: 'Segoe UI','sans-serif';
}

.card{
    background-color: #ffffff20;
    color: darkblue;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    margin-bottom: 25px;
}

h1, h2, h3{
    color: #0f172a;
}

/*Metric boc*/
div[data-testid="metric-container"]{
    background-color: #f8fafc;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.prediction-box{
    background: linear-gradient(
        135deg,
        #dcfce7,
        #bbf7d0,
    );
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #1453d1;
    margin-top: 15px;
}